name: Deploy to OpenShift

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build the application with Maven (skip tests)
        run: mvn -B -ntp clean package -DskipTests

      - name: OpenShift Client Installer
        uses: redhat-actions/oc-installer@v1

      - name: Log in to OpenShift
        env:
          OPENSHIFT_API_URL: ${{ secrets.OPENSHIFT_API_URL }}
          OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
        run: |
          oc login "$OPENSHIFT_API_URL" --token="$OPENSHIFT_TOKEN" --insecure-skip-tls-verify=true

      - name: Set project to agile-2025-labs
        run: |
          oc project msc-agile-sem1-25-ddoyle

      - name: Build and deploy the app to OpenShift
        run: |
          oc start-build health-tracker-rest --from-dir=target/ --follow

      - name: Check deployment status
        run: |
          oc rollout status deployment/health-tracker-rest
          
